<section class="footer">
    <div class="container slideshow">
        <div class="row">
            <div class="twelve columns">
                <div data-controller="slideshow" data-slideshow-index="2">
                    <button data-action="slideshow#previous">←</button>
                    <button data-action="slideshow#next">→</button>

                    <div data-target="slideshow.slide" class="slide">🐵</div>
                    <div data-target="slideshow.slide" class="slide">🙈</div>
                    <div data-target="slideshow.slide" class="slide">🙉</div>
                    <div data-target="slideshow.slide" class="slide">🙊</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h6>@copyright 2020</h6>
            </div>
        </div>
    </div>
</section>